.cartproduct{
    padding: 20px;
    border: 1px var(--text-gray) solid;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: auto;
}

.cartproduct__img{
    width: 150px;
}

.cartproduct__article{

}

.cartproduct__h3{
    font-size: 20px;
}